@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

// colors
:root {
  --light-primary-color: #fbaf85;
  --primary-color: #d87d4a;
  --light-grey-color: #fafafa;
  --grey-color: #f1f1f1;
  --dark-grey-color: #101010;
  --white-color: #fff;
  --black-color: #000;
  --error-red: #cd2c2c;
}

// fonts
html {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 1.5px;
}
h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1.15px;
}
h3 {
  font-size: 32px;
  letter-spacing: 1.15px;
  line-height: 32px;
}
h4 {
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 28px;
}
h5 {
  font-size: 24px;
  letter-spacing: 1.7px;
  line-height: 24px;
}
h6 {
  font-size: 18px;
  letter-spacing: 1.3px;
  line-height: 24px;
}
p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-transform: none;
}
.overline {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 10px;
  color: var(--primary-color);
  line-height: 19px;
}
.subtitle {
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--primary-color);
  line-height: 25px;
}

//globals
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
