@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

// colors
:root {
  --light-primary-color: #fbaf85;
  --primary-color: #d87d4a;
  --light-grey-color: #fafafa;
  --grey-color: #f1f1f1;
  --dark-grey-color: #101010;
  --white-color: #fff;
  --black-color: #000;
}

// fonts
html {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: 1.5px;
  line-height: 58px;
}
h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 1.15px;
  line-height: 40px;
}
h3 {
  font-size: 2rem;
  letter-spacing: 1.15px;
  line-height: 32px;
}
h4 {
  font-size: 1.75rem;
  letter-spacing: 2px;
  line-height: 28px;
}
h5 {
  font-size: 1.5rem;
  letter-spacing: 1.7px;
  line-height: 24px;
}
h6 {
  font-size: 1.125rem;
  letter-spacing: 1.3px;
  line-height: 24px;
}
p {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 25px;
}
.overline {
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 10px;
  color: var(--primary-color);
  line-height: 19px;
}
.subtitle {
  font-size: 0.8125rem;
  letter-spacing: 1px;
  color: var(--primary-color);
  line-height: 25px;
}
